<% @page_title = @spdx_doc.name %>

<h1><%= link_to "Docs", root_path %> > <%= @page_title %></h1>

<hr>

<div class="row-fluid">
  <h3>Document Info</h3>

  <div class="span6">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td class="tr-title">File name</td>
          <td><%= @spdx_doc.name %></td>
        </tr>
        <tr>
          <td class="tr-title">Date uploaded</td>
          <td><%= friendly_date(@spdx_doc.created_at) %></td>
        </tr>
        <tr>
          <td class="tr-title">Date generated</td>
          <td><%= friendly_date(@spdx_doc.generated_at) %></td>
        </tr>
        <tr>
          <td class="tr-title">SPDX version</td>
          <td><%= @spdx_doc.version %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="span5">
    <ul class="nav nav-tabs nav-stacked">
      <li>
        <%= link_to @spdx_doc.upload.url do %>
          <i class="icon-download"></i>
          Download
        <% end %>
      </li>
      <li>
        <%= link_to spdx_doc_comments_path(@spdx_doc) do %>
          <i class="icon-comment"></i>
          Comments (<%= @spdx_doc.comments.count %>)
        <% end %>
      </li>
    </ul>
    <%= form_for [@spdx_doc, @spdx_comment] do |f| %>
      <div class="input-append">
        <%= f.text_field :content, placeholder: "Comment on this document", class: "span10", disabled: true %>
        <%= f.submit "Add comment", class: "btn btn-primary", disabled: true %>
      </div>
    <% end %>
  </div>
</div>

<div class="row-fluid">
  <h3>Package Info</h3>
  <div class="span6">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td class="tr-title">Package name</td>
          <td><%= @package.name %></td>
        </tr>
        <tr>
          <td class="tr-title">File name</td>
          <td><%= @package.filename %></td>
        </tr>
        <tr>
          <td class="tr-title">Package files</td>
          <td><%= link_to "#{@package.files.count} total (click to view)", 
          files_spdx_doc_path(@spdx_doc) %></td>
        </tr>
        <tr>
          <td class="tr-title">Package version</td>
          <td><%= @package.version %></td>
        </tr>
        <tr>
          <td class="tr-title">Originator</td>
          <td><%= @package.originator %></td>
        </tr>
        <tr>
          <Td class="tr-title">Supplier</td>
          <td><%= @package.supplier %></td>
        </tr>
        <tr>
          <td class="tr-title">Download location</td>
          <td><%= @package.download_location %></td>
        </tr>
        <tr>
          <td class="tr-title">Description</td>
          <td><%= @package.description %></td>
        </tr>
        <tr>
          <td class="tr-title">Copyright</td>
          <td><%= @package.copyright %></td>
        </tr>
        <tr>
          <td class="tr-title">Licenses</td>
          <td>
            <ul id="licenses" class="unstyled">
              <% @spdx_doc.licenses.order(:name).each do |license| %>
                <li><%= link_to license.name, license %></li>
              <% end %>
            </ul>
          </td>
      </tbody>
    </table>
  </div>

  <div class="span5">
    <ul class="nav nav-tabs nav-stacked">
      <li>
        <%= link_to files_spdx_doc_path(@spdx_doc) do %>
          <i class="icon-file-alt"></i>
          Files (<%= @package.files.count %>)
        <% end %>
      </li>
      <li>
        <%= link_to package_comments_path(@package) do %>
          <i class="icon-comment"></i>
          Comments (<%= @package.comments.count %>)
        <% end %>
      </li>
    </ul>
    <%= form_for [@package, @package_comment] do |f| %>
      <div class="input-append">
        <%= f.text_field :content, placeholder: "Comment on this package", class: "span10", disabled: true %>
        <%= f.submit "Add comment", class: "btn btn-primary", disabled: true %>
      </div>
    <% end %>
  </div>
</div>