<h1>Listing spdx_docs</h1>

<table>
  <tr>
    <th>Spec version</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @spdx_docs.each do |spdx_doc| %>
  <tr>
    <td><%= spdx_doc.spec_version %></td>
    <td><%= spdx_doc.comment_id %></td>
    <td><%= link_to 'Show', spdx_doc %></td>
    <td><%= link_to 'Edit', edit_spdx_doc_path(spdx_doc) %></td>
    <td><%= link_to 'Destroy', spdx_doc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Spdx doc', new_spdx_doc_path %>
