<h1>SPDX Documents</h1>

  <span class="span2">
    <%= form_for @spdx_doc, html: { multipart: true } do |f| %>
      <%= f.file_field :upload %>
      <%= f.submit "Upload" %>
    <% end %>
  </span>

  <span class="search span4">
    <%= render partial: "shared/search_form" %>
  </span>


<%= render partial: "spdx_table", locals: {spdx_docs: @spdx_docs} %>